<% companies_text = companies.length > 1 ? "<strong>#{companies.length}</strong> companies were" : "<strong>one</strong> company was" %>
<p style="margin-bottom: 10px;font-weight: normal;font-size: 14px;">
  This week <%= companies_text %> successfully added to RelateIQ via CBInsights sweep:</p>
<ol style="margin:0;padding:0;margin-bottom: 10px;font-weight: normal;font-size: 14px;">
  <% companies.each do |company| %>
    <li style=" margin-left: 5px;list-style-position: inside; margin-bottom:10px">
      <a style="color: #348eda;" href="<%= company.url %>"><%= company.name %></a>
      <% if company.company_description %>
        — <i> &quot;<%= company.company_description %>.&quot; </i>
      <% end %>
      <br>
      <%= company.round %>
      <% if company.amount && !company.amount.empty? %>
        ($<%=company.amount%>m)
      <% end %>
      <% if company.investors && !company.investors.empty? %>
        — <%= company.investors.split(';').join(', ') %>
      <% end %>
    </li>
  <% end %>
</ol>