<% companies_text = companies.length > 1 ? "<strong>#{companies.length}</strong> companies were" : "<strong>one</strong> company was" %>
<p style="margin-bottom: 10px;font-weight: normal;font-size: 14px;">
  This week <%= companies_text %> successfully added to RelateIQ via CBInsights sweep:</p>
<ol style="margin:0;padding:0;margin-bottom: 10px;font-weight: normal;font-size: 14px;">
  <% companies.each do |c| %>
    <li style=" margin-left: 5px;list-style-position: inside; margin-bottom:10px">
      <a style="color: #348eda;" href="<%= c.url %>"><%= c.name %></a>
      <% if c.description %>
        — <i> &quot;<%= c.description %>.&quot; </i>
      <% end %>
      <br>
      <%= c.round %>
      <% if c.amount%>
        ($<%=c.amount%>m)
      <% end %>
      <% if c.investors %>
        — <%= c.investors.split(';').join(', ') %>
      <% end %>
    </li>
  <% end %>
</ol>